//Media Queries
$smartphone: 480px;
$tablet: 768px;
$desktop: 1024px;
// Fonts
$primaryFont: 'Source Sans Pro',
sans-serif;
$secundaryFont: 'Montserrat',
sans-serif;
//Colors
$primary_color: #000000;
$secondary_color: #EAA91C;
$thirty_color: rgba(255, 255, 255, 0.2);
$gray_color: #161616;
$forty_color: #AEAEAE;
$action_color: #EB3137;