@use 'base/variables' as v;
body {
    background: linear-gradient(to right, v.$primary_color, v.$gray_color);
}

.nav-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    // grid-auto-flow: row;
    margin-top: 3rem;
    justify-content: center;
}

.nav-category {
    flex-basis: 15rem;
    background: v.$thirty_color;
    min-height: 5rem;
    width: 15rem;
    box-shadow: 0.4rem, 0.4rem, 0.9rem, v.$thirty_color;
    border-radius: 1rem;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.nav-category-text {
    color: white;
    font-weight: 400;
    font-size: 2rem;
}

.main-product-container {
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
}

.main-product {
    width: 30rem;
    margin-top: 3rem;
    text-align: center;
    position: relative;
}

.main-product-price {
    background-color: v.$secondary_color;
    border-radius: 50% 50%;
    width: 7rem;
    height: 7rem;
    display: flex;
    align-items: center;
    position: absolute;
    top: -2rem;
    right: -2rem;
}

.price {
    color: white;
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    font-size: 4rem;
}

.main-product-text {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 2rem;
    color: v.$secondary_color;
}

.main-product-description {
    color: v.$forty_color;
    margin-top: 0.5rem;
}

img {
    border-radius: 2rem;
}

.category1 {
    background: v.$action_color;
}