@use 'base/variables' as v;
body {
    background: linear-gradient(to left, #ce3737, #4b134f);
}

.nav-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    // grid-auto-flow: row;
    margin-top: 3rem;
}

.nav-category {
    flex-basis: 15rem;
    background: hsla(0, 0%, 0%, 0.103);
    min-height: 5rem;
    width: 15rem;
    box-shadow: 1.6px 1.6px 5.3px rgba(0, 0, 0, 0.075), 5.4px 5.4px 17.9px rgba(0, 0, 0, 0.108), 24px 24px 80px rgba(0, 0, 0, 0.18);
    border-radius: 1rem;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.nav-category-text {
    color: white;
    font-weight: 400;
    font-size: 1.8rem;
}

.main-product-container {
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.main-product {
    width: 30rem;
    text-align: center;
    position: relative;
}

.main-product-text {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    color: white;
}

.main-product-description {
    color: rgb(165, 164, 164);
}

img {
    border-radius: 2rem;
}

.main-product-price {
    background-color: black;
    color: white;
    border-radius: 50% 50%;
    width: 7rem;
    height: 7rem;
    display: flex;
    align-items: center;
    position: absolute;
    top: -2rem;
    right: -2rem;
}

.price {
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    font-size: 2rem;
}

.category1 {
    background: linear-gradient( 180deg, #1f4037, #99f2c8);
}